<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Liquor</string>
	<key>ordering</key>
	<array>
		<string>F719E3C3-F6DC-4D6E-AFEE-DBA9B0F511C5</string>
		<string>C6D5CEFA-2ADB-443E-B715-DE148878F781</string>
		<string>3535DB1C-8326-4728-8CFF-F0DAE28B4F0D</string>
		<string>99EE9C0D-F7DE-47F2-9C8B-6204C0AE5510</string>
		<string>C8A64985-2A91-4C45-AE5C-785FDBB084E6</string>
		<string>1960E8FE-F716-42F7-87F6-7DADE0A14406</string>
		<string>80FE3A4A-592D-4FD5-B926-C4A68301513C</string>
		<string>0393B4C5-CB21-4D84-82B9-052192E81E2C</string>
	</array>
	<key>uuid</key>
	<string>F30F7916-3556-4508-9960-735859489315</string>
</dict>
</plist>
